<div class="container-fluid-2">
	<div class="container h-100">
		<div class="row h-100 justify-content-center align-items-center">
			<div class="col-sm-12 col-md-6">
				<div class="d-block text-center mb-4">
					<img src="/assets/img/brand/pixan.png" alt="logo" class="img-fluid">
				</div>
				<h2 class="text-center text-white titulo">¡Lo que tu quieras!</h2>
				<span class="text-center text-white parrafo">La plataforma lider en compra y venta</span>
				<span class="text-center text-white parrafo mb-3">de productos en linea en México.</span>
				<div class="d-block text-center">
					<button 
					(click)="this.onRegistroForm()"
					class="btn btn-outline-light btn-bg-2">
						{{ this.registroform ? 'INICIA SESIÓN' : 'REGÍSTRATE' }}
					</button>
				</div>
			</div>
			<div class="col-sm-12 col-md-4">
				<div class="card p-3">
					<div class="card-body">
						<ng-container *ngIf="!this.registroform">
							<h2 class="mb-4 subtitulo">Inicia Sesión</h2>
							<form #formLogin="ngForm" (ngSubmit)="this.onLogin()">
								<div class="form-group">
									<label for="email">Correo electrónico</label>
									<input 
									type="email" 
									class="form-control" 
									name="email" 
									[(ngModel)]="this.user.email"
									pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}" 
									placeholder="ej. maria@lacasademaria.mx" 
									required />
								</div>
								<div class="form-group">
									<label for="password">Contraseña</label>
									<input 
									type="password" 
									class="form-control" 
									name="password" 
									[(ngModel)]="this.user.password"
									placeholder="Escribe tu contraseña" 
									required />
								</div>
								<div class="text-center mt-4">
									<button
									[disabled]="!this.formLogin.form.valid"  
									class="btn btn-outline-danger btn-bg-1">
										INICIAR SESIÓN
									</button>
								</div>
							</form>
						</ng-container>
						<ng-container *ngIf="this.registroform">
							<h2 class="mb-4 subtitulo">Registro</h2>
							<form #formRegistro="ngForm" (ngSubmit)="this.onRegistro()">
								<div class="form-group">
									<label for="email">Nombre</label>
									<input 
									type="text" 
									class="form-control" 
									name="name" 
									[(ngModel)]="this.user.name"
									placeholder="Escribe tu nombre" 
									required />
								</div>
								<div class="form-group">
									<label for="email">Correo electrónico</label>
									<input 
									type="email" 
									class="form-control" 
									name="email" 
									[(ngModel)]="this.user.email"
									pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}" 
									placeholder="ej. maria@lacasademaria.mx" 
									required />
								</div>
								<div class="form-group">
									<label for="password">Contraseña</label>
									<input 
									type="password" 
									class="form-control" 
									name="password" 
									[(ngModel)]="this.user.password"
									placeholder="Escribe tu contraseña" 
									required />
								</div>
								<div class="text-center mt-4">
									<button
									[disabled]="!this.formRegistro.form.valid" 
									class="btn btn-outline-danger btn-bg-1">
										Registrarse
									</button>
								</div>
							</form>
						</ng-container>
						<ng-container *ngIf="this.errnor">
							<p class="alert alert-danger mt-4"> {{ this.errnor }} </p>
						</ng-container>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>